<h1>Ваша корзина</h1>
<% if @cart.empty? %>
  <p>Ваша корзина пуста</p>
<% else %>
  <%= link_to 'Очистить корзину', cart_clear_path %>
<% end %>

<% total = 0 %>

<table class="Cart">
<tr>
  <th></th>
  <th id="cart_name">Наименование</th>
  <th>Цена</th>
  <th>Количество</th>
  <th>Сумма</th>
</tr>

<% @cart.each do |id, quantity| %>
  <% product = Product.find_by_id(id)%>
  <% unless  product.nil? %>
  <tr>
    <td><%= image_tag(product.image.url(:thumb)) if product.image.exists?(:thumb) %></td>
    <td><%= link_to product.name, product%></td>
    <td><%= number_to_currency(product.price, unit: 'грн.', format: '%n %u') %></td>
    <td><%= quantity%></td>
    <td><%= number_to_currency(quantity * product.price, unit: 'грн.', format: '%n %u')%></td>
  </tr>
  <% total += quantity * product.price %>
  <% end %>

<% end %>

<tfoot>
  <tr>
    <td colspan="4" id="cart_total">Итого:</td>
    <td>
      <b><%= number_to_currency(total, unit: 'грн.', format: '%n %u')%></b>
    </td>
  </tr>
</tfoot>
</table>
