<h2>Create new product</h2>

<div class="productList">
<%= form_for @item, :html => { :multipart => true }  do |f| %>

  <p>Наименование:<br/><%= f.text_field :name %></p>
  <p>Цена:<br/><%= f.text_field :price %></p>
  <p>Количество:<br/><%= f.text_field :count %></p>
  <p>Категория:<br/><%= f.select(:category_id, @category_array) %></p>
  <p>Производитель:<br/><%= f.select(:producer_id, @producer_array) %></p>
  <p>Магазин:<br/><%= f.select(:retailer_id, @retailer_array) %></p>

  <p><%= f.file_field :image %></p>

	<p><%= f.submit "Создать товар" %></p>

<% end %>
</div>